{% extends "layout/manage.html" %}
{% load static %}

{% block css %}
<style>
    .container-fluid .head {
        margin-top: 2rem;
    }
</style>
{% endblock css %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row head">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <i class="fa-solid fa-chart-area"></i> Zukauf Schrotte Informationen
                        <a type="button" class="btn btn-success mx-3" data-bs-toggle="modal"
                            data-bs-target="#addModal" data-whatever="Einen Neuen Schrott Hinzufügen">
                            Neuer Schrott
                        </a>
                    </div>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary float-right" type="submit" name="price_simulate" value="Preis Simulation">
                        </form>
                    </div>
                    </div>
                <div class="card-body">
                    <table id="data_source_lst" class="table table-bordered table-hover mt-2">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Company</th>
                                <th scope="col">Quantity [kg]</th>
                                <th scope="col">Price [€/kg]</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in schrott_obj %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.company }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>
                                   <a class="btn btn-outline-primary btn-sm"
                                       data-bs-toggle="modal"
                                       data-bs-target="#addModal"
                                       data-fid="{{ item.id }}"
                                       data-name="{{ item.name }}"
                                       data-company="{{ item.company }}"
                                       data-quantity="{{ item.quantity }}"
                                       data-price="{{ item.price }}"
                                       data-whatever="Bearbeiten">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </a> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-chart-area"></i> Kreislauf Schrotte Informationen
                </div>
                <div class="card-body">
                    <table id="data_source_lst_kreislauf" class="table table-bordered table-hover mt-2">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Company</th>
                                <th scope="col">Quantity [kg]</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in giesserei_schrott_obj %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.giesserei }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add new schrott-->
<div class="modal" id="addModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addForm">
          {% csrf_token %}
            <input type="hidden" name="fid" id="fid" />
            {% for field in form %}
                  <div class="mb-3">
                    <label for="{{field.id_for_label }}" class="form-label fw-bold">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    <span class="error-msg"></span>
                  </div>
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Abbrechen
        </button>
        <button id="btnSubmit" type="button" class="btn btn-primary">
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function(){
        initAddModal();
        bindSubmit();
        $('#data_source_lst').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        $('#data_source_lst_kreislauf').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
    
    function initAddModal(){
            $('#addModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const modal = $(this);
                const title = button.data('whatever');
                const name = button.data('name');
                const company = button.data('company');
                const quantity = button.data('quantity');
                const price = button.data('price');
                const fid = button.data('fid');
                modal.find('.modal-title').text(title);

                if(fid){
                    // edit handler information
                    modal.find("#id_name").val(name);
                    modal.find("#id_company").val(company);
                    modal.find("#id_quantity").val(quantity);
                    modal.find("#id_price").val(price);
                    modal.find("#fid").val(fid);
                }else{
                    // add handler information
                    modal.find(".error-msg").empty();
                    $("#addForm")[0].reset();
                }
            });
        }

    function bindSubmit(){
            $('#btnSubmit').click(function(){
                $.ajax({
                    url: location.href,
                    type: 'POST',
                    data: $('#addForm').serialize(),
                    dataType: 'JSON',
                    success: function(res){
                        if(res.status){
                            location.href = location.href;
                        }else{
                            $.each(res.errors, function(key, value) {
                            $('#id_' + key).next().text(value[0]);
                            });
                        }
                    }
                });
            });
        }
</script>
{% endblock js %}