absl-py==1.4.0
accelerate==0.16.0
aiohttp==3.8.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
amqp==2.6.1
antlr4-python3-runtime==4.9.3
asgiref==3.7.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
autogluon==0.8.2
autogluon.common==0.8.2
autogluon.core==0.8.2
autogluon.features==0.8.2
autogluon.multimodal==0.8.2
autogluon.tabular==0.8.2
autogluon.timeseries==0.8.2
beautifulsoup4==4.12.2
billiard==3.6.4.0
blessed==1.20.0
blis==0.7.10
boto3==1.28.20
botocore==1.31.20
cachetools==5.3.1
catalogue==2.0.9
catboost==1.1.1
celery==4.4.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==2.2.1
cobyqa==1.0.dev1
colorama==0.4.6
colorful==0.5.5
confection==0.1.1
contourpy==1.1.0
crcmod==1.7
cryptography==41.0.3
cycler==0.11.0
cymem==2.0.7
dacite==1.8.1
datasets==2.14.3
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.7
Django==3.2.10
django-cors-headers==3.5.0
django-mathfilters==1.0.0
django-pandas==0.6.6
django-phonenumber-field==7.1.0
django-phonenumbers==1.0.1
et-xmlfile==1.1.0
evaluate==0.3.0
fastai==2.7.12
fastcore==1.5.29
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.12.2
flatbuffers==23.5.26
flower==0.9.5
fonttools==4.42.0
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gdown==4.7.1
gluonts==0.13.3
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
gpustat==1.1
graphviz==0.20.1
grpcio==1.49.1
h5py==3.9.0
htmlmin==0.1.12
huggingface-hub==0.16.4
humanize==4.7.0
hyperopt==0.2.7
idna==3.4
ImageHash==4.3.1
imageio==2.31.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.1
jsonschema==4.17.3
keras==2.13.1
kiwisolver==1.4.4
kombu==4.6.11
langcodes==3.3.0
libclang==16.0.6
lightgbm==3.3.5
lightning-utilities==0.9.0
llvmlite==0.40.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mlforecast==0.7.3
model-index==0.1.11
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.15
murmurhash==1.0.9
networkx==3.1
nlpaug==1.1.11
nltk==3.8.1
nptyping==2.4.1
numba==0.57.1
numerize==0.12
numpy==1.23.5
nvidia-ml-py==12.535.77
oauthlib==3.2.2
omegaconf==2.2.3
opencensus==0.11.2
opencensus-context==0.1.3
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.2
openxlab==0.0.17
opt-einsum==3.3.0
ordered-set==4.1.0
oss2==2.17.0
packaging==23.1
pandas==1.5.3
pandas-profiling==3.6.6
pathy==0.10.2
patsy==0.5.3
pdfo==1.3.1
phik==0.12.3
phonenumbers==8.13.18
Pillow==9.5.0
platformdirs==3.10.0
plotly==5.15.0
preshed==3.0.8
prometheus-client==0.8.0
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
psycopg2-binary==2.9.7
py-spy==0.3.14
py4j==0.10.9.7
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.12
Pygments==2.16.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
pytorch-lightning==1.9.5
pytorch-metric-learning==1.7.3
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
ray==2.3.1
redis==4.6.0
regex==2023.6.3
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.4.2
rsa==4.9
s3transfer==0.6.1
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.11.1
seaborn==0.11.2
sentencepiece==0.1.99
seqeval==1.2.2
shap==0.37.0
six==1.16.0
slicer==0.0.3
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.19
sqlparse==0.4.1
srsly==2.4.7
statsforecast==1.4.0
statsmodels==0.14.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.3.0
text-unidecode==1.3
thinc==8.1.11
threadpoolctl==3.2.0
tifffile==2023.7.18
timm==0.9.5
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tornado==6.3.2
tqdm==4.65.0
transformers==4.26.1
typeguard==2.13.3
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
ujson==5.8.0
urllib3==1.26.16
vine==1.3.0
virtualenv==20.24.2
visions==0.7.5
wasabi==1.1.2
wcwidth==0.2.6
Werkzeug==2.3.6
window-ops==0.0.14
wordcloud==1.9.2
wrapt==1.15.0
xgboost==1.7.5
XlsxWriter==1.3.7
xxhash==3.3.0
yarl==1.9.2
ydata-profiling==4.4.0
